# Java
*.class
*.jar
*.war
*.ear

# Gradle
.gradle/
build/

# Docker
docker-compose.override.yml
Dockerfile
docker-compose.yml

# Logs
*.log

# Temporary files
*.tmp
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Eclipse
/.metadata
/.project
/.classpath
/.settings/

# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
